# Question 1

In [3]:
a=0

def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

b()
b()
b()
a

6

>>>b() will return a(0) + 2 = 2
>>>b() will return a(2) + 2 = 4
>>>b() will return a(4) + 2 = 6 
>>>a = 6

# Question 2

In [1]:
def fileLength(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))
    
fileLength('midterm.py')
fileLength('idterm.py')

123

FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'

In [2]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except FileNotFoundError:
        print('file not found')
#fileLength('midterm.py')

fileLength('idterm.py')

file not found

# Question 4

In [5]:
x = int(input('enter your integer '))
def collatz(x):
    print(x)
    if x>1:
        if x%2 == 0:
            x=x/2
            collatz(x)
        else:
            x=(3*x)+ 1
            collatz(x)
    
collatz(x)

enter your integer 1
1

In [6]:
x = int(input('enter your integer '))
def collatz(x):
    print(x)
    if x>1:
        if x%2 == 0:
            x=x/2
            collatz(x)
        else:
            x=(3*x)+ 1
            collatz(x)
    
collatz(x)

enter your integer 10
10
5.0
16.0
8.0
4.0
2.0
1.0

# Question 5

In [7]:
n=int(input('Enter a non-negative integer '))
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2, end = '')
               
binary(n)

Enter a non-negative integer 0
0

In [8]:
n=int(input('Enter a non-negative integer '))
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2, end = '')
               
binary(n)

Enter a non-negative integer 1
1

In [9]:
n=int(input('Enter a non-negative integer '))
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2, end = '')
               
binary(n)

Enter a non-negative integer 3
11

In [10]:
n=int(input('Enter a non-negative integer '))
def binary(n):
    if n>1:
        binary(n//2)
    print(n%2, end = '')
               
binary(n)

Enter a non-negative integer 9
1001

# Question 8

In [1]:
import sqlite3
conn=sqlite3.connect('Weather')
cur=conn.cursor()
cur.execute('CREATE TABLE Osama(city TEXT, country TEXT, season TEXT, temperature FLOAT, rainfall FLOAT)')
cur.execute("INSERT INTO Osama VALUES ('Mumbai','India', 'Winter', 24.8, 5.9)")
cur.execute("INSERT INTO Osama VALUES ('Mumbai','India', 'Spring', 28.4, 16.2)")
cur.execute("INSERT INTO Osama VALUES ('Mumbai','India', 'Summer', 27.9, 1549.4)")
cur.execute("INSERT INTO Osama VALUES ('Mumbai','India', 'Fall', 27.6, 346.0)")
cur.execute("INSERT INTO Osama VALUES ('London','United Kingdom', 'Winter', 4.2, 207.7)")
cur.execute("INSERT INTO Osama VALUES ('London','United Kingdom', 'Spring', 8.3, 169.6)")
cur.execute("INSERT INTO Osama VALUES ('London','United Kingdom', 'Summer', 15.7, 157.0)")
cur.execute("INSERT INTO Osama VALUES ('London','United Kingdom', 'Fall', 10.4, 218.5)")
cur.execute("INSERT INTO Osama VALUES ('Cairo','Egypt', 'Winter', 13.6, 16.5)")
cur.execute("INSERT INTO Osama VALUES ('Cairo','Egypt', 'Spring', 20.7, 6.5)")
cur.execute("INSERT INTO Osama VALUES ('Cairo','Egypt', 'Summer', 27.7, 0.1)")
cur.execute("INSERT INTO Osama VALUES ('Cairo','Egypt', 'Fall', 22.2, 4.5)")
conn.commit()

# 8a

In [3]:
print ('Temperatures:')
cur.execute('SELECT temperature FROM Osama')
cur.fetchall()

Temperatures:

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

# 8b

In [5]:
print ('Cities:')
cur.execute('SELECT DISTINCT city FROM Osama')
cur.fetchall()

Cities:

[('Mumbai',), ('London',), ('Cairo',)]

# 8c

In [6]:
print ('Records from India:')
cur.execute("SELECT * FROM Osama WHERE Country ='India'")
cur.fetchall()

Records from India:

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

# 8d

In [7]:
print ('Fall records:')
cur.execute ("SELECT DISTINCT * FROM Osama WHERE season='Fall'")
cur.fetchall()

Fall records:

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

# 8e

In [8]:
print ('Average Rainfall between 200 and 400:')
cur.execute ("SELECT DISTINCT city,country, season FROM Osama WHERE rainfall BETWEEN 200 AND 400")
cur.fetchall()

Average Rainfall between 200 and 400:

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

# 8f

In [9]:
print ('Fall temperature above 20:')
cur.execute ("SELECT DISTINCT city,country,Temperature FROM Osama WHERE Season='Fall' AND Temperature > 20")
cur.fetchall()

Fall temperature above 20:

[('Mumbai', 'India', 27.6), ('Cairo', 'Egypt', 22.2)]

# 8g

In [11]:
print ('Sum rainfall Cairo')
cur.execute ("SELECT SUM(Rainfall) FROM Osama WHERE city='Cairo'")
cur.fetchall()

Sum rainfall Cairo

[(27.6,)]

# 8h

In [33]:
print ('Sum rainfall all seasons')
cur.execute ("SELECT SUM(Rainfall) FROM Osama")
cur.fetchall()

Sum rainfall all seasons

[(2697.8999999999996,)]

# Question 9

# 9a

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newlist = [x.upper() for x in words]
print(newlist)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

# 9b

In [35]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newlist = [x.lower() for x in words]
print(newlist)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# 9c

In [37]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newlist = [len(x) for x in words]
print(newlist)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

# 9d

In [38]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
newlist = [x.upper() x.lower() len(x) for x in words]
print(newlist)

SyntaxError: invalid syntax (<ipython-input-38-90d0de42d2ac>, line 2)

# 9e

In [39]:
words = ['The', 'Quick', 'Brown', 'Fox', 'Jumps', 'Over', 'The', 'Lazy', 'Dog']
newlist = [z for z in words if len(z)>3]
print(newlist)

['Quick', 'Brown', 'Jumps', 'Over', 'Lazy']